@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');

.login {
    background-color: $half-color-background;
    width: 704px;
    height: 900px;
    right: 736px;
    display: flex;
    box-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);

    @media only screen and (max-width: 1200px) {
        background-color: $responvise-background-color;
        width: $responvise-width;
        height: $responvise-height;
        box-shadow: $responvise-box-shadow;
    }


    @media only screen and (max-width: 800px) {
        background-color: $responvise-background-color;
        width: $responvise-width;
        height: $responvise-height;
        display: $responvise-display;
        box-shadow: $responvise-box-shadow;
    }
}

.login-logos {
    margin: $icon-margin;
    display: flex;

    @media only screen and (max-width: 800px) {
        margin: 30px;
    }
}

.logoText {
    margin-left: $icon-text-left;
}

.loginImg {
    width: $image-width;
    height: $image-height;
    margin-left: $image-left;

    @media only screen and (max-width: 1200px) {
        display: none;
    }

    @media only screen and (max-width: 800px) {
        display: none;
    }
}

// ============ Right Side And Form ============ //

.right-side {
    margin-top: $rigth-margin-top;
    margin-left: $right-margin-left;

    @media only screen and (max-width: 1200px) {
        margin-left: -280px;
    }

    @media only screen and (max-width: 800px) {
        margin-top: 20px;
        margin-left: 26px;
    }
}

.headingText {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $heading-color;

    @media only screen and (max-width: 800px) {
        font-size: 50px;
    }
}

.headingSub {
    margin-top: $font-sub-margin-top;
    font-family: 'Avenir Next';
    font-style: normal;
    width: 194px;
    font-weight: $font-sub-weight;
    font-size: $font-sub-size;
    line-height: $line-sub-height;
    color: $heading-sub-color;

    @media only screen and (max-width: 800px) {
        font-size: 25px;
    }
}

form {
    margin-top: $form-margin-top;
}

input {
    padding: 16px;
    font-family: 'Avenir Next';
    font-style: $input-font-style;
    font-weight: $input-font-weight;
    font-size: $input-font-size;
    line-height: $input-line-height;
    color: $input-color;
    opacity: $input-opacity;
    box-sizing: $form-box-sizing;
    width: $form-width;
    height: $form-height;
    background: $form-background;
    border: $form-border;
    border-radius: $form-border-radius;

    @media only screen and (max-width: 1200px) {
        display: block;
        width: 650px;
    }

    @media only screen and (max-width: 800px) {
        display: block;
        width: 650px;
    }

    @media only screen and (max-width: 780px) {
        display: block;
        width: 550px;
    }

    @media only screen and (max-width: 600px) {
        display: block;
        width: 350px;
    }
}

input:nth-child(2) {
    margin-top: 24px;
}

.forgotPassword {
    margin-top: $forgot-margin-top;
    font-family: 'Avenir Next';
    cursor: pointer;
    font-style: normal;
    font-weight: $forgot-font-weight;
    font-size: $forgot-font-size;
    line-height: $forgot-line-height;
    text-align: $forgot-text-align;
    letter-spacing: $forgot-letter-spacing;
    text-transform: $forgot-text-transform;
    color: $forgot-color;
}

.loginBtn {
    margin-top: $btn-margin-top;
    border: $btn-border;
    width: $btn-width;
    height: $btn-height;
    background: $btn-background;
    border-radius: $btn-border-radius;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: $btn-font-weight;
    font-size: $btn-font-size;
    line-height: $btn-line-height;
    text-align: $btn-text-align;
    letter-spacing: $btn-letter-spacing;
    text-transform: $btn-text-transform;
    color: $btn-color;

    @media only screen and (max-width: 1200px) {
        display: block;
        width: 650px;
    }

    @media only screen and (max-width: 800px) {
        display: block;
        width: 650px;
    }

    @media only screen and (max-width: 780px) {
        display: block;
        width: 550px;
    }

    @media only screen and (max-width: 600px) {
        display: block;
        width: 350px;
    }
}