//========== Background Spilt Screen =============//
$half-color-background: #fff;

//========== Logo Margins =============//
$icon-margin: 106px;
$icon-text-left: 10px;

//========== Logo Image =============//
$image-width: 600px;
$image-height: 337.57;
$image-left: 80px;

//========== Right Side =============//
$rigth-margin-top: 200px;
$right-margin-left: 100px;

//========== Right Side Heading Text =============//
$font-weight: 700;
$font-size: 40px;
$line-height: 55px;
$letter-spacing: -0.04em;
$heading-color: #213F7D;

//========== Right Side Heading Sub =============//
$font-sub-margin-top: 10px;
$font-sub-weight: 400;
$font-sub-size: 20px;
$line-sub-height: 27px;
$heading-sub-color: #545F7D;

//========== Right Side Heading Form =============//
$form-margin-top: 60px;
$form-box-sizing: border-box;
$form-position: absolute;
$form-width: 447px;
$form-height: 50px;
$form-background: #FFFFFF;
$form-border: 2px solid rgba(84, 95, 125, 0.15);
$form-border-radius: 5px;

//========== Place Holder design =============//
$input-font-style: normal;
$input-font-weight: 400;
$input-font-size: 14px;
$input-line-height: 19px;
$input-color: #545F7D;
$input-opacity: 0.6;

//========== Forgot Password =============//
$forgot-margin-top: 24px;
$forgot-font-weight: 600;
$forgot-font-size: 12px;
$forgot-line-height: 16px;
$forgot-text-align: left;
$forgot-letter-spacing: 0.1em;
$forgot-text-transform: uppercase;
$forgot-color: #39CDCC;