// =================== UserCard HEADER ================= //
$user-card-margin-left: 340px;
$user-card-margin-top: 30px;

// =================== UserCard Text ================= //
$user-card-text-font-family: 'Work Sans';
$user-card-text-font-style: normal;
$user-card-text-font-weight: 500;
$user-card-text-font-size: 24px;
$user-card-text-line-height: 28px;
$user-card-text-color: #213F7D;

// =================== UserCard CARDS ================= //
$user-card-card-margin-top: 40px;
$user-card-card-width: 240px;
$user-card-card-height: 160px;
$user-card-card-background: #FFFFFF;
$user-card-card-border: 1px solid rgba(33, 63, 125, 0.06);
$user-card-card-box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
$user-card-card-border-radius: 4px;

// =================== UserCard CARD DETAILS ================= //
$user-card-details-margin-left: 30px;
$user-card-details-margin-top: 20px;
$user-card-details-text-margin-top: 14px;

$user-card-details-text-1-font-family: 'Work Sans';
$user-card-details-text-1-font-style: normal;
$user-card-details-text-1-font-weight: 500;
$user-card-details-text-1-font-size: 14px;
$user-card-details-text-1-line-height: 16px;
$user-card-details-text-1-text-transform: uppercase;
$user-card-details-text-1-color: #545F7D;

$user-card-details-text-2-font-family: 'Work Sans';
$user-card-details-text-2-font-style: normal;
$user-card-details-text-2-font-weight: 600;
$user-card-details-text-2-font-size: 24px;
$user-card-details-text-2-line-height: 28px;
$user-card-details-text-2-text-transform: uppercase;
$user-card-details-text-2-color: #213F7D;